.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(200, 185, 185);
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0 , 0, 0 , 0.05);
    width: 0;
}
.search-bar::placeholder {
    font-size: 16px;
}
.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(241, 241, 241);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
}
.search-button,
.voice-button,
.upload-icon-container,
.youtube-app-icon-container,
.notifications-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button .toolkit,
.voice-button .toolkit,
.upload-icon-container .toolkit,
.youtube-app-icon-container .toolkit,
.notifications-icon-container .toolkit {
    position: absolute;
    background-color: gray;
    color: white;
    padding:4px 8px;
    bottom: -30px;
    font-size: 12px;
    opacity: 0;
    border-radius: 2px;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .toolkit,
.voice-button:hover .toolkit,
.upload-icon-container:hover .toolkit,
.youtube-app-icon-container:hover .toolkit,
.notifications-icon-container:hover .toolkit {
    opacity: 1;
}
.search-icon {
    height: 25px;
}
.voice-button {
    height: 40px;
    width: 40px;
    background-color:rgb(245, 245, 245);
    border: none;
    border-radius: 20px;
    border-color:rgb(192, 192, 192);
    margin-left: 10px;
    
}
.voice-button .toolkit
.voice-icon {
    height: 24px;
}
.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon {
    height: 24px;
}
.youtube-app-icon {
    height: 24px;
}
.notifications-icon {
    height: 24px;
}
.profile-pic {
    height: 32px;
    border-radius: 16px;
}

.notifications-icon-container {
    position: relative;
}
.notifications {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(189, 0, 0);
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 11px;
}